<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2>フォロワーユーザー</h2>
      <% if @users.exists? %>
        <table class='table'>
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= render "relationships/btn", user: user %></td>
              <td><%= link_to '投稿一覧', user_path(user.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <h3>ユーザーはいません</h3>
      <% end %>
    </div>
  </div>
</div>